html{
    scroll-behavior: smooth;
}
.portfolio{
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
}
.BarraLateral{
    height: 100vh;
    width: 500px;
    background-color: #754e4e0f;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
.conteudoLateral{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    
}
.logo img{
    margin: auto;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 10px 31px #0500007d;
    
}
@media (max-width:460px) {
    .logo img{
        margin: auto;
        margin-top: 50px;
        height: 150px;
        width: 150px;
    }
}
.sobre{
    margin-bottom: 30px;
    
}
.BarraLateral a{
    text-decoration: none;
    color: black;
   
}
.autor{
    margin-bottom: auto;
}

ul{
    margin-left: 0;
    padding-left: 0;
    grid-row: 1;
   
}
a:hover {
    text-decoration: underline;
}
.CorpoRolagem{
    height: 100vh;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
.overflow{
    height: 500vh;
    min-height: 100vh;
    width: 100%;
}
.overflow>.caixa{
    margin: 0px;
}
.caixa{
    height: 100vh;
    width: 100%;
    margin-bottom: 50px;
    font-size: 60px;
    color: rgb(8, 8, 8);
    position: relative;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.caixa.primeiro>.imagem{
    background-image: url(./Imagens/27b7e1258e4662a226bbd3549e785bf5.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.6;
    height: 100%;
}   
.caixa.primeiro>.conteudo{
    position: absolute;
    align-items: center;
    text-align: center;
    top: 0px;
    width: 100%;
    height: 100%;
    color: hsl(357deg 100% 45%);
}
.titulo{
       margin-top: 250px;
}
.caixa.primeiro h1{
    font-size: 100px;
}
.caixa.primeiro p{
    font-size: 40px;
}
.caixa.segundo>.conteudo{
    display: flex;
    flex-direction: column;   
    align-items: left;
    justify-content: space-around; 
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
.conteudo>.divsegundo{
    margin: auto;
    border-radius: 10px;
}
.conteudo>.imagenssegundo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
} 

.blocossegundo>img{
    width: 220px;
    height: 220px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 19px 57px -6px #000000c7;
}
.terceiro{
    font-size: 18px;
}
.mario, .zelda, .donkeykong{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 40px;
}
.textomario, .textozelda, .textokong{
    margin: auto;
    padding: 40px;
    height: 300px;
    line-height: 2;
}
.mario>img{
    width: 300px;
    height: 300px;
}
.zelda>img{
    width: 300px;
    height: 300px;
}
.donkeykong>img{
    width: 300px;
    height: 300px;
}
.terceiro h2{
    margin-bottom: 35px;
}
.terceiro :nth-child(2){
    flex-direction: row-reverse;
}
.caixa2 h1{
    text-align: center;
    margin-top: 50px;
}

.caixa.sexto>.imagem{
    background-image: url(./Imagens/db2cqol-1930bc76-2254-4a2b-a29a-4d3622de94a7.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 300px;
}
.fim{
    background-image: url(./Imagens/thumb-1920-789452.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
}
.caixa2{
    height: 150vh;
    width: 100%;
    margin-bottom: 50px;
    font-size: 60px;
    color: rgb(8, 8, 8);
    position: relative;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sexto2>.divimagem{
    margin-left: 50px;
    width: 300px;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

